<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="25.7.0" targetFramework="net481" />
  <package id="CountryCodesLib" version="1.0.7" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="FontAwesome.Sharp" version="6.6.0" targetFramework="net481" />
  <package id="InternetConnectionChecker2" version="1.2.0" targetFramework="net481" />
  <package id="itext" version="9.2.0" targetFramework="net481" />
  <package id="itext.commons" version="9.2.0" targetFramework="net481" />
  <package id="itext7" version="9.2.0" targetFramework="net481" />
  <package id="libphonenumber-csharp" version="9.0.15" targetFramework="net481" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net481" />
  <package id="QRCoder" version="1.6.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net481" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="ZXing" version="2.1.1" targetFramework="net481" />
  <package id="ZXing.Net" version="0.16.10" targetFramework="net481" />
</packages>