<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="EasyposEntities" connectionString="metadata=res://*/Models.Easyposcontext.csdl|res://*/Models.Easyposcontext.ssdl|res://*/Models.Easyposcontext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-UKSQ4LM8;initial catalog=Easypos;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>